@model estimateProjectx.Models.Vote
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Votes" asp-action="Create" method="post" onsubmit="return confirm('\nAre you sure you want to confirm the estimation?\n\nThis action is final and irreversible!');">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoteValue" class="control-label">Your vote:</label>
                </br>
                <select asp-for="VoteValue" class="form-control">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="8">8</option>
                    <option value="13">13</option>
                </select>
                <span asp-validation-for="VoteValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SessionId" value="@ViewBag.SessionId" />
                <input type="hidden" asp-for="IdentityUserId" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Confirm Estimation" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
